body {
}

#main {
    position: relative;
}

div #BG {
    background-image: url("https://cdn.emojidex.com/emoji/seal/custard.png");
    position: fixed;
    opacity: 0.1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
div #txt{

}

#navbar {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
}

#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#navbar a:hover:not(.active) {
    color:#f1f1f1;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.pudding {
    max-width: 100%;
    height: auto;
}

.page-wrap {
    margin-left: 140px;
    padding: 0px 10px; 
}

h1 {
    color: navy;
    margin-left: 20px;
    font-family: 'Dosis', sans-serif;
}

p {
    text-align: justify;
    font-family: 'Alegreya', serif;
}

#txtbody {
    font-size: 18px;
}

#pudding-table {
    font-family: 'Alegreya', serif;
    border-collapse: collapse;
    width: 100%;
}

#pudding-table a {
    text-decoration: none;
    display: block;
    color: black;
}

#pudding-table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#pudding-table tr:nth-child(even) {
    background-color: #f9e020;
}

#pudding-table tr:nth-child(odd) {
    background-color: #f7f436
}

#pudding-table tr:hover {
    background-color: #fedbb5
}

#pudding-table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ed9e02; 
    color: white;
}
